:root {
    --cor-primaria: #003461;
    --cor-secundaria-1: #0083CA;
    --cor-secundaria-2: #00AFAD;
    --cor-secundaria-3: #F26522;
    --cor-secundaria-4: #FCAF17;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-primaria);
  }
  
  .splash img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    display: flex;
    align-items: center;
    width: 100%;
    background: #e6e6e6;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
  }
  
  .card img {
    width: 100px;
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-primaria);
    margin-bottom: 10px;
  }
  
  .card-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-rating i {
    color: var(--cor-secundaria-2);
    margin-right: 5px;
  }
  
  .card-price {
    font-size: 16px;
    color: var(--cor-secundaria-3);
    margin-left: auto; /* Adicionado para alinhar à direita */
  }
  
  .detalhes {
    display: flex;
    flex-wrap: wrap;
  }
  
  .detalhes-banner {
    width: 100%;
    background-color: var(--cor-primaria);
    padding: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .detalhes-carousel {
    width: 100%;
    height: 400px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
  }
  
  .detalhes-content {
    width: 100%;
    padding: 20px;
  }
  
  .detalhes-price {
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-secundaria-3);
    margin-bottom: 10px;
  }
  
  .detalhes-buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-primaria);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .home {
      flex-wrap: wrap;
    }
  
    .card {
      width: 100%;
    }
  }
  